body {
  font-family: Arial, Helvetica, sans-serif;
}
.headerContainer {
  display: flex;
  justify-content: space-around;
}
.main {
  height: 10vh;
  width: 20vw;
}
.intro_text {
  height: 30vh;
  width: 20vw;
  font-size: larger;
}
img {
  height: auto;
  max-width: 100%;
}
.container {
  display: flex;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.member {
  margin: 1.5%;
}
#mem2,
#mem5 {
  margin-top: 120px;
}

.desig1 {
  position: relative;
  transform: rotate(90deg);
  left: 55%;
  top: -43%;
}
.desig2 {
  position: relative;
  transform: rotate(90deg);
  left: 55%;
  top: -58%;
}
@media (min-width: 481px) and (max-width: 768px) {
  .intro_text,
  .main {
    font-size: 15px;
  }
  .container {
    width: 80vw;
  }
  h3 {
    font-size: 15px;
  }
  .member {
    width: 25vw;
  }
}
@media (max-width: 480px) {
  .intro_text,
  .main {
    font-size: 15px;
  }
  .headerContainer {
    flex-direction: column;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 15px;
  }
  .container {
    width: 90vw;
  }
  .main {
    width: 100vw;
  }
  .intro_text {
    width: 100vw;
    height: 15vh;
  }
  .member {
    width: 30vw;
  }

  #mem2,
  #mem4,
  #mem6 {
    margin-top: 50px;
  }
  .desig1,
  .desig2 {
    font-size: 10px;
  }
}
